<a href="https://colab.research.google.com/github/Tusharbhawsar/Feature-Engineering/blob/main/Encoding%20Categorical%20Data%20%20Ordinal%20Encoding%20%20Label%20Encoding/Encoding_Categorical_Data_Ordinal_Encoding_Label_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
path='/content/drive/MyDrive/excel files/Feature Engeering/Encoding Categorical Data  Ordinal Encoding  Label Encoding/Customer Dataset.csv'

In [8]:
df=pd.read_csv(path)
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

## When we use Particular encoding ?

**Ordinal encoding= in Oder data/ ordering data,
label encoding= specially use for target column who's in categorial variable like yes/no,true/false,right/wrong,
one hotendcoding= for numerical data**

In [9]:
# age=Numerical dataset
# gender=Nominal categorial dataset/variable use=One Hot encoding
# review=Ordinal dataset use=Ordinal Encoding
# education=Ordinal dataset use=Ordinal Encoding
# purchased Nominal Categorial data/variable use= Label encoding becoz target column in categorial variable

In [10]:
df=df.iloc[:,2:]

In [11]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [14]:
x_train

     review education
26     Poor        PG
22     Poor        PG
45     Poor        PG
16     Poor        UG
27     Poor        PG
17     Poor        UG
3      Good        PG
25     Good    School
33     Good        PG
31     Poor    School
14     Poor        PG
0   Average    School
30  Average        UG
6      Good    School
38     Good    School
2      Good        PG
47     Good        PG
32  Average        UG
46     Poor        PG
44  Average        UG
23     Good    School
43     Poor        PG
48     Good        UG
4   Average        UG
49     Good        UG
40     Good    School
28     Poor    School
42     Good        PG
5   Average    School
11     Good        UG
7      Poor    School
41     Good        PG
15     Poor        UG
9      Good        UG
21  Average        PG
37  Average        PG
8   Average        UG
12     Poor    School
34  Average    School
35     Poor    School

In [15]:
x_test

     review education
19     Poor        PG
24  Average        PG
39     Poor        PG
13  Average    School
18     Good    School
1      Poor        UG
29  Average        UG
20  Average    School
36     Good        UG
10     Good        UG

In [16]:
from sklearn.preprocessing import OrdinalEncoder

In [17]:
oe=OrdinalEncoder(categories=[["Poor",'Average','Good'],['School','UG',"PG"]])

In [18]:
oe.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [19]:
x_train=oe.transform(x_train)
x_test=oe.transform(x_test)

In [20]:
# poor=0
# Average=1
# Good=2
# school=0
# UG=1
# PG=2

In [21]:
x_train

array([[0., 2.],
       [0., 2.],
       [0., 2.],
       [0., 1.],
       [0., 2.],
       [0., 1.],
       [2., 2.],
       [2., 0.],
       [2., 2.],
       [0., 0.],
       [0., 2.],
       [1., 0.],
       [1., 1.],
       [2., 0.],
       [2., 0.],
       [2., 2.],
       [2., 2.],
       [1., 1.],
       [0., 2.],
       [1., 1.],
       [2., 0.],
       [0., 2.],
       [2., 1.],
       [1., 1.],
       [2., 1.],
       [2., 0.],
       [0., 0.],
       [2., 2.],
       [1., 0.],
       [2., 1.],
       [0., 0.],
       [2., 2.],
       [0., 1.],
       [2., 1.],
       [1., 2.],
       [1., 2.],
       [1., 1.],
       [0., 0.],
       [1., 0.],
       [0., 0.]])

In [22]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
le=LabelEncoder()

In [25]:
le.fit(y_train)

LabelEncoder()

In [26]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [27]:
y_train=le.transform(y_train)
y_test=le.transform(y_test)

In [28]:
y_train

array([0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1])